Why to use feature Scaling?

1. Scaling gurantees that all the features are on a comparable scale and have comparable ranges. This process is known as feature normalisation.

2. Algorithm performance improvement.

3.Preventing numerical instability.

4. Scaling features makes ensure that each characteristic is given the same consideration during the learning process.

# Absolute Maximum Scaling:

This method:
    
1. We should first select the maximum absolute value out of all the entries of a particular
measure.

2. we divide each entry of the column by this maximum value.
 
 
 scaling ranges from -1 to +1

X(scaled)=(X(i)-max(|X|))/max(|X|)

In [9]:
import pandas as pd

In [10]:
df=pd.DataFrame({"LoArea":[8450,9600,11250,9550,14260],"MSSubCLass":[60,20,60,70,60]})

In [11]:
df

   LoArea  MSSubCLass
0    8450          60
1    9600          20
2   11250          60
3    9550          70
4   14260          60

In [12]:
#finding the absolute value:

import numpy as np

max_val=np.max(np.abs(df))
max_val

/opt/anaconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:84: FutureWarning: In a future version, DataFrame.max(axis=None) will return a scalar max over the entire DataFrame. To retain the old behavior, use 'frame.max(axis=0)' or just 'frame.max()'
  return reduction(axis=axis, out=out, **passkwargs)

LoArea        14260
MSSubCLass       70
dtype: int64

In [13]:
print((df-max_val)/max_val)

     LoArea  MSSubCLass
0 -0.407433   -0.142857
1 -0.326788   -0.714286
2 -0.211080   -0.142857
3 -0.330295    0.000000
4  0.000000   -0.142857

when the dataset contains outliers this approach becomes too sensitive towards the outliers.

# Min Max Scaling:

Method:
    
1. We are suppose to find minimum and maximum value for a column.
2. Then we will substract the min value from the entry and divide the result by the
difference between the max and the minimum value.


scaling is going to range from 0 to 1

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

scaled_data=scaler.fit_transform(df)

scaled_df=pd.DataFrame(scaled_data,columns=df.columns)

In [15]:
scaled_df

     LoArea  MSSubCLass
0  0.000000         0.8
1  0.197935         0.0
2  0.481928         0.8
3  0.189329         1.0
4  1.000000         0.8

In [16]:
# this approach is also sensitive towards the outliers.

# Normalization:

 method:

1. Here we will first do the substraction of ecach data entry by the mean value of the whole data.
2.we substract each entry by the mean value of the whole data and then divide the results by the difference between min and max.

In [17]:
from sklearn.preprocessing import Normalizer

scaler=Normalizer()
scaled_entry=scaler.fit_transform(df)
scaled_norm=pd.DataFrame(scaled_entry,columns=df.columns)
print(scaled_norm)

     LoArea  MSSubCLass
0  0.999975    0.007100
1  0.999998    0.002083
2  0.999986    0.005333
3  0.999973    0.007330
4  0.999991    0.004208

# Standardization:

Method:
    
1.first we are going to calculate mean and Standard deviation of the data we would like to
normalize.

2.we are going to substract the mean value from each entry and then divide the result by
standard deviation.

3.The one best part about standardization is it helps us to make the data normally distributed.

In [18]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()
scale.fit_transform(df)

array([[-1.07161162,  0.3441236 ],
       [-0.50422978, -1.95003374],
       [ 0.30983982,  0.3441236 ],
       [-0.52889855,  0.91766294],
       [ 1.79490013,  0.3441236 ]])

# Robust Scaling:

In [ ]:
Method:
    
1. calculating the two values mean and IQR
2.we are going to substract each entry with median and divide the results by IQR

In [19]:
from sklearn.preprocessing import RobustScaler
x=RobustScaler()
x.fit_transform(df)

array([[-6.76470588e-01,  0.00000000e+00],
       [ 0.00000000e+00, -4.00000000e+01],
       [ 9.70588235e-01,  0.00000000e+00],
       [-2.94117647e-02,  1.00000000e+01],
       [ 2.74117647e+00,  0.00000000e+00]])